@use '../tokens' as *;

.content-section-block + .content-section-block {
  margin-top: 40px;
}

.content-section-block {
  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    padding: 4px;

    h3 {
      margin: 0;
      color: $color-text;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.5px;
    }
  }

  &__icon-wrap {
    display: inline-flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: #6d5bd0;
  }
}
